<html>
 <title>Users and Kegs Web App</title>

    <h2>Wellcome to the Web App</h2>
    <p>You can see..</p>
    <ul>
      <li><a href="/web_app/show_users">See all users<br></a></li>
      <li><a href="/web_app/show_user">See an user<br></a></li>
      <li><a href="/web_app/show_kegs">See all kegs</a></li>
      <li><a href="/web_app/show_keg">See a keg</a></li>
    </ul>
    <p>You can register..</p>
    <ul>
      <li><a href="/web_app/insert_user">Register an user</a></li>
      <li><a href="/web_app/insert_keg">Register a keg</a></li>
    </ul>
    <p>You can edit...</p>
    <ul>
      <li><a href="/web_app/update_user">Edit an user</a></li>
      <li><a href="/web_app/update_keg">Edit a keg</a></li>
    </ul>
    <p>You can delete...</p>
    <ul>
      <li><a href="/web_app/delete_user">Delete an user</a></li>
      <li><a href="/web_app/delete_keg">Delete a keg</a></li>
    </ul>
</html>
