<html>
  <head>
    <title>Historical Users Data</title>
  </head>
  <style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: centre;
}
table#t01 tr:nth-child(even) {
    background-color: #ede778;
}
table#t01 tr:nth-child(odd) {
   background-color:#fac09c;
}
table#t01 th	{
    background-color: #41a8ba;
    color: black;
}
</style>
  <body>
    <h1 style="color:blue;">User Data<hr></h1>

    <table border= "1" id="t01">
      <tr>
  <th>User Id</th>
	<th>Username</th>
  <th>Fullname</th>
  <th>Email</th>
  <th>Beer</th>
      </tr>
	{% for row in users_data %}
          <tr>
	  {% for cell in row %}
	    <td> {{cell}} </td>
	  {% endfor %}
	  </tr>
	{% endfor %}
    </table>

    <form action="/web_app/show_user" id="t01" method="post">
      <select name="usuari" form="t01">
      {% for user in users%}
      <option name="usuari" value="{{user}}">{{user}}</option>
      {% endfor %}
    </select>

      <input type="submit" name="Select User">
    </form>

      <ul>
      <li><a href="/web_app">Main Page<br></a></li>
    </ul>

  </body>
</html>
