<html>
 <title>Edit Keg</title>

    <h2>Keg {{kegs_data[0][0]}}</h2>
    <form action="/web_app/update_keg" id="getform" method="post">
      <input type="hidden" name="kegid" value="{{kegs_data[0][0]}}">
      <p>New Amount: <input type="text" name="amount" value="{{kegs_data[0][1]}}" required></p>
      <input type="submit" value="Update">
    </form>

    <form action="/web_app/delete_keg" id="getform" method="post">
      <input type="hidden" name="kegid" value="{{kegs_data[0][0]}}">
      <input type="submit" value="Delete">
</html>
