<html>
 <title>Edit User</title>


    <h2>Editing an user...</h2>
    <form action="/web_app/update_user" method="post">
      <p>Username From User To Edit: <input type="text" name="username" required></p>
      <p>New Full Name: <input type="text" name="fullname"></p>
      <p>New User id: <input type="text" name="userid"></p>
      <p>New Email: <input type="text" name="email"></p>
      <p>New Amount: <input type="text" name="amount"></p>
      <input type="submit" value="Submit">
    </form>
</html>
